[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Omar
	email = 90123670+mewclouds@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519_signing.pub
[init]
	defaultBranch = master
[include]
	path = ~/.gitconfig.safe
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgSign = true
