[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Omar
	email = 90123670+mewclouds@users.noreply.github.com
[init]
	defaultBranch = master
[includeIf "gitdir:~/codeberg/"]
	path = ~/.codeberg_gitconfig
[include]
	path = C:/Users/mewclouds/.gitconfig.safe
