[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Omar
	email = 90123670+mewclouds@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519_signing.pub
[init]
	defaultBranch = master
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgSign = true
# Roaming default: plain appends also work on network/virtual filesystems
# where the Windows atomic-append API fails; harmless on local NTFS.
[windows]
	appendAtomically = false
